@import '@fontsource/fira-mono';

@mixin modernist-art {
	$terracotta: rgb(226, 125, 96);
	$jade-green: rgb(22, 160, 133);

	--color-bg-0: rgb(130, 138, 149);
	/* Basalt Gray */
	--color-bg-1: rgb(41, 128, 185);
	/* Skyline Blue */
	--color-bg-2: rgb(255, 255, 255);
	/* Marble White */
	--color-theme-1: #{$terracotta};
	/* Terracotta */
	--color-theme-1-D1: #{darken($terracotta, 10%)};
	/* Slightly darker Terracotta */
	--color-theme-1-L1: #{lighten($terracotta, 10%)};
	/* Slightly lighter Terracotta */
	--color-theme-2: #{$jade-green};
	/* Jade Green */
	--color-theme-2-D1: #{darken($jade-green, 10%)};
	/* Slightly darker Jade Green */
	--color-theme-2-L1: #{lighten($jade-green, 10%)};
	/* Slightly lighter Jade Green */
	--color-text: rgb(20, 20, 20);
	/* Lava Stone */
	--color-text-light: rgb(78, 78, 80);
	/* Light Lava Stone */
}

@mixin urban-contrast {
	$rust-red: rgb(231, 76, 60);
	$sunset-orange: rgb(243, 156, 18);

	--color-bg-0: rgb(149, 165, 166);
	/* Concrete Gray */
	--color-bg-1: rgb(74, 111, 165);
	/* Steel Blue */
	--color-bg-2: rgb(213, 196, 161);
	/* Sandy Beige */
	--color-theme-1: #{$rust-red};
	/* Rust Red */
	--color-theme-1-D1: #{darken($rust-red, 10%)};
	/* Slightly darker Rust Red */
	--color-theme-1-L1: #{lighten($rust-red, 10%)};
	/* Slightly lighter Rust Red */
	--color-theme-2: #{$sunset-orange};
	/* Sunset Orange */
	--color-theme-2-D1: #{darken($sunset-orange, 10%)};
	/* Slightly darker Sunset Orange */
	--color-theme-2-L1: #{lighten($sunset-orange, 10%)};
	/* Slightly lighter Sunset Orange */
	--color-text: rgb(44, 62, 80);
	/* Midnight Black */
}

@mixin industrial-monochrome {
	$charcoal-black: rgb(45, 52, 54);
	$oyster: rgb(174, 189, 56);

	--color-bg-0: rgb(99, 110, 114);
	/* Smog Gray */
	--color-bg-1: rgb(178, 190, 195);
	/* Iron Silver */
	--color-bg-2: rgb(216, 216, 216);
	/* Ash White */
	--color-theme-1: #{$charcoal-black};
	/* Charcoal Black */
	--color-theme-1-D1: #{darken($charcoal-black, 10%)};
	/* Slightly darker Charcoal Black */
	--color-theme-1-L1: #{lighten($charcoal-black, 10%)};
	/* Slightly lighter Charcoal Black */
	--color-theme-2: #{$oyster};
	/* Oyster */
	--color-theme-2-D1: #{darken($oyster, 10%)};
	/* Slightly darker Oyster */
	--color-theme-2-L1: #{lighten($oyster, 10%)};
	/* Slightly lighter Oyster */
	--color-text: rgb(51, 63, 72);
	/* Graphite Shadow */
}

:root {
	@include modernist-art();
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	font-family: var(--font-body);
	color: var(--color-text);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
	background-image: radial-gradient(50% 50% at 50% 50%,
			rgba(255, 255, 255, 0.75) 0%,
			rgba(255, 255, 255, 0) 100%),
		linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%);
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}